{{> inventories}}
<h3 class="text-center">Pokemon List</h3>
<br>
<table class="table pokemon-list stripe">
<thead>
	<tr>
		<th>id</th>
		<th></th>
		<th>name</th>
		<th>cp</th>
		<th>IV</th>
	</tr>
</thead>
<tbody>
	
	{{#each pokemons}}
	<tr>
		<td>{{id}}</td>
		<td>
			<img height="40" src="https://media.bisafans.de/aa4ff30/pokemon/artwork/{{imgURL id}}">
		</td>
		<td>{{name}}</td>
		<td>{{cp}}</td>
		<td>{{round perfection}}</td>
	</tr>
	{{/each}}
	</tbody>
</table>
<button id="embed" style="display:none">
	get embed code
</button>
{{>candies}}

{{> modal}}
